<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Gub</title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">-->

  <!-- ng-tags-input CSS -->
  <link rel="stylesheet" href="http://mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css">

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <!-- Cordova is bootstrapped by ionic-platform-web-client, uncomment this if you remove ionic-platform-web-client... -->
  <!-- <script src="cordova.js"></script> -->

  <!-- Google Maps -->
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <!-- Firebase -->
  <script src="lib/firebase/firebase-debug.js"></script>
  <!-- AngularFire -->
  <script src="lib/angularfire/dist/angularfire.js"></script>
  <!-- ng-tags-input JS -->
  <script src="http://mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
</head>

<body ng-app="starter">
  <ion-pane>
    <!-- APP HEADER -->
    <ion-header-bar class="bar-stable">
      <h1 class="title">Gub</h1>
    </ion-header-bar>

    <!-- APP BODY -->
    <ion-content>
      <div ng-controller="LoginCtrl">

        <!-- LOGIN -->
        <div ng-hide="authData" class="card">
          <button class="item button-full" ng-click="login()">
            Login with Facebook
          </button>
        </div>

        <!-- LOGOUT -->
        <div ng-show="authData" class="card">
          <div class="item item-text-wrap">
            Hello {{authData.facebook.displayName}}!
          </div>
          <button class="item button-full" ng-click="logout()">Logout</button>
        </div>

        <!-- AD CREATION DASHBOARD -->
        <div ng-show="authData" ng-controller="DashCtrl">
          <div class="card">

            <!-- AD CREATION CARD-->
            <div class="item item-divider">
              Create an Ad
            </div>

            <label class="item item-input item-stacked-label">
              <span class="input-label">Headline</span>
              <input type="text" ng-model="post.headline" placeholder="Headline">
            </label>

            <!-- We should add Media somewhere here -->
            <label class="item item-input">
              <span class="input-label">Start</span>
              <input type="date" ng-model="post.start_date">
            </label>

            <label class="item item-input">
              <span class="input-label">End</span>
              <input type="date" ng-model="post.end_date">
            </label>

            <!-- this part is essentially broken; looking for a way to walk around -->
            <label class="item">
              Match Mode
              <div ng-repeat="option in match_modes">
                <div class="button-bar">
                  <button class="button" on-tap="setCurrentMatch(option[0])" ng-class="{&apos;button-positive&apos;: isCurrentMatch(option[0]) }">{{option[0]}}</button>
                  <button class="button" on-tap="setCurrentMatch(option[1])" ng-class="{&apos;button-positive&apos;: isCurrentMatch(option[1]) }">{{option[1]}}</button>
                </div>
              </div>
            </label>

            <label class="item item-input item-select">
              <div class="input-label">Category</div>
              <select ng-model="post.category" ng-options="c for c in match_categories[post.current_match]">
              </select>
            </label>

            <label class="item item-input item-stacked-label">
              <span class="input-label">Description</span>
              <input type="text" ng-model="post.description" placeholder="Description">
            </label>

            <label class="item item-input item-stacked-label">
              <span class="input-label">Object</span>
              <input type="text" ng-model="post.object" placeholder="Object">
            </label>

            <div class="item">
              <tags-input ng-model="post.tags"></tags-input>
            </div>

            <div id="post-it" class="list list-inset">
              <label class="item item-input">
                <input type="text" ng-model="user.desc" placeholder="Set Your Location">
              </label>
              <button class="button button-full button-positive" ng-click="pushPost()">Post It</button>
            </div>
          </div>

          <!-- FIND MATCH CARD -->
          <div class="card">
            <button class="item button button-full button-positive" ng-click="findMatch()">Find Match</button>

            <div ng-repeat="mpost in gotmatch">
              <div class="list card">

                <div class="item item-avatar">
                  <h2>{{mpost.headline}}</h2>
                  <p>{{mpost.match_mode}} - {{mpost.category}}</p>
                </div>

                <div class="item item-body">
                  <p>
                    This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                    the content is from a card-body consisting of an image and paragraph text. The footer
                    consists of tabs, icons aligned left, within the card-footer.
                  </p>
                  <p>
                    <div ng-repeat="t in mpost.tags">
                      <a href="#" class="subdued">{{t.text}}</a>
                    </div>
                  </p>
                </div>

              </div>

            </div>

          </div>

        </div>
      </div>
    </div>
  </ion-content>
</ion-pane>
</body>
</html>
